a {
  transition: all 300ms ease;
}

.navbar {
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  img {
    max-height: 2.5rem;
  }

  a {
    font-size: 1.2rem;
    line-height: 3;

    &:hover {
      color: $primary;
    }

    &.button {
      border: 1px solid $indigo !important;
      font-size: .9rem;
      font-weight: 500;
      margin: auto 1rem;
      text-transform: uppercase;
    }
  }

  @media (min-width: 1024px) {

    .underline:hover {
      background-color: transparent;
    }

    .underline:after {
      background-color: lighten($secondary, 10%);
      bottom: 1.2rem;
      content: "";
      height: 2px;
      left: 0;
      margin: auto 1rem;
      opacity: 0;
      position: absolute;
      transition: all 300ms ease;
      width: 0px;
    }

    .underline:hover:after {
      width: calc(100% - 2rem);
      opacity: 1;
    }
  }

  a.button {
    border: 0;
  }

  .field.is-grouped > .control:not(:last-child) {
    margin-right: .4rem;
  }
}

.hero.is-light {

  h1.title {
    color: $primary;
    font-family: $heading-sans-serif;
    text-transform: uppercase;
  }

  h3.subtitle {
    background-color: $grey-lighter;
    border-radius: .5rem;
    display: inline-block;
    padding: .3rem .8rem;
  }

  a.email {
    margin: -.5rem auto 1rem;

    &:hover {
      background-color: $white-bis;
      color: $primary;
    }
  }
}

#home {
  background: transparent;

  .title, .subtitle {
    text-shadow: 0 0 2px transparentize($black,.5);
  }

  .parallax {
    background: linear-gradient(rgba(0,0,0, .9), rgba(0,0,0, .7)), url('../assets/background.jpeg') center/cover;
    height: 100vh;
    position: relative;
    z-index: -1;
  }

  .post-parallax {
    margin-top: -100vh;
  }

  img.logo {
    filter: drop-shadow(0 0 2px transparentize($black,1));
    margin-bottom: 2rem;
    max-width: 300px;
  }

  .button {
    font-weight: 500;
    padding: 1rem;
    text-transform: uppercase;
  }
}

#about {

  .columns {
    flex-wrap: wrap;
  }

  .column {
    margin: 1rem auto;
  }

  .lnr {
    color: $periwinkle;
    display: block;
    font-size: 100px;
    margin-bottom: 3rem;
  }

  p {
    font-size: .85rem;
  }
}

#features {
  a {
    color: $link;

    &:hover {
      color: darken($link, 10%);
    }
  }

  .hero-body {
    padding-bottom: 0;
  }

  .columns {
    flex-wrap: wrap;
  }

  .reverse {
    @media (min-width: 769px) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .feature-text {
    align-items: center;
    display: flex;
    font-size: 1rem;
    margin-top: -.75rem;
    padding: 2rem 1rem;

    @media (min-width: 1023px) and (max-width: 1408px) {
      font-size: .85rem;
    }

    @media (max-width: 1023px) {
      padding-top: 4rem;
    }
  }

  .feature-image {
    align-items: flex-end;
    display: flex;
    padding: 1rem 1rem .75rem;

    @media (min-width: 1024px) {
      padding: 3rem 3rem .75rem;
    }
  }

  img {
    display: block;
  }
}

#contact {

  .field.is-grouped {
    justify-content: center;

    .control:not(:last-child) {
      margin-right: .5rem;
    }

    a {
      background: none;
      border: none;
      color: $primary;
      font-size: 2rem;
      padding: .75rem;
    }
  }
}

#return {
  background: transparentize($black,.3);
  border-radius: 50%;
  bottom: 20px;
  display: none;
  height: 50px;
  position: fixed;
  right: 20px;
  width: 50px;
  z-index: 10;

  span {
    color: $white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 14px;
    font-size: 20px;
    transition: all 300ms ease;
}

  &:hover {
    background: transparentize($black,.1);

    span {
      top: 10px;
    }
  }
}

.footer {
  background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url('../assets/background.jpeg') bottom/cover;
  color: $white;
  padding-bottom: 3rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
